version: '3'
services:
  db:
    image: postgres
    volumes:
    - ./db:/var/lib/postgresql/data
  web:
    build: ./api
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./api:/srv
    ports:
      - "3000:3000"
    depends_on:
      - db
