# .env should NOT be checked in to source control

API_URL=

# Database Settings
DATABASE_URL=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Backend Settings
RAILS_ENV=
RAILS_MASTER_KEY=
SECRET_KEY_BASE=
