# .env should NOT be checked in to source control

# Database Settings
DATABASE_URL=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Backend Settings
API_PORT=
RAILS_ENV=
RAILS_MASTER_KEY=
SECRET_KEY_BASE=

# Frontend Settings
API_URL=
WEB_PORT=
