- content_for(:title) { 'All people' }

%h2 All person

%p= link_to 'New person', new_person_path

- unless @people.empty?
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @people.each do |person|
        %tr
          %td= link_to person.name, person_path(person)

%p= link_to 'New person', new_person_path