- content_for(:title) { 'All series' }

%h2 All Series

%p= link_to 'New series', new_series_path

- unless @series.empty?
  %table
    %thead
      %tr
        %th Publisher
        %th Series
    %tbody
      - @series.each do |series|
        %tr
          %td= series.publisher_name
          %td= link_to series.name, series_path(series)

%p= link_to 'New series', new_series_path